{% extends 'base.html' %}

{% load humanize %}

{% block title %}
    | Polynomial Regression Play
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'polynomial_regression' %}">Polynomial Regression</a></li>
            <li class="breadcrumb-item active" aria-current="page">Polynomial Regression Play</li>
        </ol>
    </nav>
    {% if all_values %}
        <div class="modal" id="all_set_modal" tabindex="-1" role="dialog">
        	<div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        		<div class="modal-content">
        			<div class="modal-header">
        				<h5 class="modal-title">All Salary Data</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				<span aria-hidden="true">&times;</span>
        				</button>
        			</div>
        			<div class="modal-body">
        				<img class="col" src="data:image/png;base64,{{ b64_all }}"/>
        			</div>
        			<div class="modal-footer">
        				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        			</div>
        		</div>
        	</div>
        </div>
        <div class="modal" id="train_set_modal" tabindex="-1" role="dialog">
        	<div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        		<div class="modal-content">
        			<div class="modal-header">
        				<h5 class="modal-title">Train Set Results</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				<span aria-hidden="true">&times;</span>
        				</button>
        			</div>
        			<div class="modal-body">
        				<img class="col" src="data:image/png;base64,{{ b64_train }}"/>
        			</div>
        			<div class="modal-footer">
        				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        			</div>
        		</div>
        	</div>
        </div>
        <div class="modal" id="test_set_modal" tabindex="-1" role="dialog">
        	<div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        		<div class="modal-content">
        			<div class="modal-header">
        				<h5 class="modal-title">Test Set Results</h5>
        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        				<span aria-hidden="true">&times;</span>
        				</button>
        			</div>
        			<div class="modal-body">
        				<img class="col" src="data:image/png;base64,{{ b64_test }}"/>
        			</div>
        			<div class="modal-footer">
        				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        			</div>
        		</div>
        	</div>
        </div>
        <div class="container" style="margin-top:10px;">
            <div class="row">
                <div class="col-md-4">
                	<div class="card mb-4 shadow-sm">
                		<div class="card-body">
                    		<div class="row" style="text-align:center;">
                    			<div class="col">All Records</div>
                                <div class="w-100"></div>
                                <div class="col">Experience</div>
                                <div class="col">Salary</div>
                                <div class="w-100"></div>
                                {% for value in all_values %}
                                    <div class="col">{{ value.0 }}</div>
                                    <div class="col">{{ value.1 | intcomma }}</div>
                                    <div class="w-100"></div>
                                {% endfor %}
                    		</div>
                    		<div class="row" style="text-align: center; margin-top: 10px;">
                                <div class="col">
                                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#all_set_modal">
                                        <i class="fas fa-chart-line"></i> View
                                    </button>
                                </div>
                            </div>
                    	</div>
                	</div>
                </div>
                <div class="col-md-4">
                	<div class="card mb-4 shadow-sm">
                		<div class="card-body">
                    		<div class="row" style="text-align:center;">
                    			<div class="col">Train Records</div>
                                <div class="w-100"></div>
                                <div class="col">Experience</div>
                                <div class="col">Salary</div>
                                <div class="w-100"></div>
                                {% for value in train_values %}
                                    <div class="col">{{ value.0 }}</div>
                                    <div class="col">{{ value.1 | intcomma }}</div>
                                    <div class="w-100"></div>
                                {% endfor %}
                    		</div>
                    		<div class="row" style="text-align: center; margin-top: 10px;">
                                <div class="col">
                                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#train_set_modal">
                                        <i class="fas fa-chart-line"></i> Results
                                    </button>
                                </div>
                            </div>
                    	</div>
                	</div>
                </div>
                <div class="col-md-4">
                	<div class="card mb-4 shadow-sm">
                		<div class="card-body">
                    		<div class="row" style="text-align:center;">
                    			<div class="col">Test Records</div>
                                <div class="w-100"></div>
                                <div class="col">Experience</div>
                                <div class="col">Salary</div>
                                <div class="col">Predicted</div>
                                <div class="w-100"></div>
                                {% for value in test_values %}
                                    <div class="col">{{ value.0 }}</div>
                                    <div class="col">{{ value.1.0 | intcomma }}</div>
                                    <div class="col">{{ value.1.1 | intcomma }}</div>
                                    <div class="w-100"></div>
                                {% endfor %}
                            </div>
                    		<div class="row">
                        		<form class="col" method="POST" action="{% url 'polynomial_regression_play' %}">
                            		</br>
                            		</br>
                                    <div class="input-group mb-3">
                                    <input type="text" pattern="^\d*(\.\d{0,2})?$" value="{{ user_values.0 }}" name="user_number" class="form-control" placeholder="Input Experience" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            {% csrf_token %}
                                            <input type="hidden" name="curr_rdm" value="{{ curr_rdm }}"></input>
                                        	<input type="submit" class="btn btn-outline-secondary" value="Predict"></input>
                                        </div>
                                    </div>
                                </form>
                    		</div>
                    		{% if user_values %}
                        		<div class="row" style="text-align:center;">
                                    <div class="w-100"></div>
                                    <div class="col">Prediction</div>
                                    <div class="w-100"></div>
                                    <div class="col">Experience</div>
                                    <div class="col">Est. Value</div>
                                    <div class="w-100"></div>
                                    <div class="col">{{ user_values.0 }}</div>
                                    <div class="col" style="color: red;">{{ user_values.1 | intcomma }}</div>
                                </div>
                            {% endif %}
                            <div class="row" style="text-align: center; margin-top: 10px;">
                                <div class="col">
                                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#test_set_modal">
                                        <i class="fas fa-chart-line"></i> Results
                                    </button>
                                </div>
                            </div>
                            {% if user_values %}
                                <script>
                                    window.scrollTo(0,document.body.scrollHeight);
                                </script>
                            {% endif %}
                    	</div>
                	</div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}